<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA46s0Jf3i0uxnm4eunWmvPKjV4AZd9Nk4</string>
	<key>GCM_SENDER_ID</key>
	<string>403856486737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prime.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prime-b09b7</string>
	<key>STORAGE_BUCKET</key>
	<string>prime-b09b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403856486737:ios:a555f577781f7aa82ca370</string>
</dict>
</plist>